/* @import url("") */
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { /* se aplica a la página entera */
  font-family: "Inter", Arial, sans-serif; 
  margin: 0px;
  padding: 0px;
}

html {
  overflow-y: scroll;
  background-image: url("background.png");
  background-size: 240px 50px;
}

#search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 1340px;
}

#search-bar input {
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px rgb(50, 50, 50);
} 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #957dff; */
  background-image: repeating-linear-gradient(to right, #C9242B, #F05A7D, #21A566, #F0B41C, #2D83B7);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(50, 50, 50);
  color: white;
  min-width: 1349px; /* lo mismo que la tabla*/
}

header :first-child {
  width: 200px;
}

header :last-child {
  width: 200px;
}

#title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  background-color: transparent;
  font-size: 30px;
}

#title img {
  width: 50px;
  background-color: inherit;
}

#header-left {
  background-color: transparent;
  margin-left: 20px;
}

#button-group {
  display: flex;
  align-self: flex-start;
  border-radius: 5px;
  /* background-image: repeating-linear-gradient(45deg, #E9DBFF, #D0D1FF, #E9DBFF 25%); */
}

#button-group :first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 2px solid rgb(50, 50, 50);
}

#button-group :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 2px solid rgb(50, 50, 50);
}

.button-selected {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-top: 2px solid rgb(50, 50, 50);
  border-bottom: 2px solid rgb(50, 50, 50);
  border-left: 1px solid rgb(50, 50, 50);
  border-right: 1px solid rgb(50, 50, 50);
  background-color: rgb(190, 190, 190);
}

.button-selected:hover {
  cursor: default;
}

.button-not-selected {
  font-size: 16px;
  padding: 5px 10px;
  border-top: 2px solid rgb(50, 50, 50);
  border-bottom: 2px solid rgb(50, 50, 50);
  border-left: 1px solid rgb(50, 50, 50);
  border-right: 1px solid rgb(50, 50, 50);
  background-color: white;
}

.button-not-selected:hover {
  background-color: rgb(230, 230, 230);
}

#header-right {
  background-color: transparent;
  text-align: right;
  margin-right: 20px;
  height: 30px;
}

#header-right img {
  width: 30px;
  background-color: inherit;
  transition: transform 0.1s;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(103%) contrast(104%);
}

#header-right img:hover {
  transform: scale(1.2);
}

#header-right a {
  background-color: inherit;
}

table {
  border-collapse: collapse;
  background-color: white;
  box-shadow: 2px 2px rgb(50, 50, 50);
  table-layout: fixed;
  font-size: 13px;
  text-align: center;
  margin: auto;
  min-width: 1349px;
}

table td {
  padding-top: 5px;
  padding-bottom: 5px;
}

table img {
  padding-left: 10px;
  padding-right: 10px;
}

#table-header {
  font-weight: 700;
  background-color: rgb(225, 225, 225);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid rgb(50, 50, 50);
}

#table-header tbody :first-child :not(:last-child)  {
  border-right: 2px solid rgb(50, 50, 50)
}

#table-header tbody :last-child :last-child {
  border-right: 2px solid rgb(50, 50, 50)
}

#table-data {
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 30px;
}

#table-data tr:hover td { /* sin td no funciona */
  background-color: rgb(240, 240, 240);
}

#table-data tbody :last-child:hover :first-child {
  border-bottom-left-radius: 10px;
}

#table-data tbody :last-child:hover :last-child {
  border-bottom-right-radius: 10px;
}

#table-data tr:hover td img { /* sin td no funciona */
  background-color: rgb(240, 240, 240);
}

.active {
  display: none;
}

tr:hover .static {
  display: none;
}

tr:hover .active {
  display: inline;
}

button:hover {
  cursor: pointer;
}

input::placeholder {
  font-style: italic;
}

#row-message {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  color: rgb(117, 117, 117); /* mismo color del texto de la barra de búsqueda */
  height: 35px;
  width: 1349px;
}
